* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(46, 46, 46);
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(170, 170, 170);
}

h1 {
  background-color: #787474;
}

.central-page {
  padding: 50px 0px;
}

.central-page .container {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 20px;
}

.central-page .container .card {
  width: 16%;
}

.central-page .container .card h2 {
  color: white;
  font-size: 16px;
  margin: 5px 0px;
}

.central-page .container .card img {
  width: 85%;
}

.central-page .container .card img:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.central-page .container .card p {
  font-size: 15px;
  color: gray;
  font-weight: 600;
}

.details-page {
  padding: 50px 0px;
}

.details-page .container {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 181px;
       column-gap: 181px;
}

.details-page .container .title-and-description {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.details-page .container .title-and-description .title {
  color: white;
}

.details-page .container .title-and-description .description {
  color: lightgray;
}

.details-page .back {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 15%;
  margin: 68px auto;
  background-color: gray;
  border-radius: 8px;
  padding: 9px;
}

.details-page .back a:hover {
  color: rgb(70, 70, 70);
}

.create-link {
  text-align: center;
  margin-top: 26px;
}

.create-link a {
  background-color: #5e5e5e;
  padding: 5px 13px;
  border-radius: 7px;
}

.create-page {
  margin: 70px 0px;
}

.create-page .container .input-new {
  margin-top: 20px;
}

.create-page .container .input-new label {
  color: white;
}

.create-page .container button {
  margin-top: 30px;
}

